<form action="/create" method="POST" enctype="multipart/form-data">
  <label for="">

  </label>
  Content
  <input type="text" name="content">
  <label for="">

  </label>
  Picture
  <input type="file" name="picture" id="picture-input" />

  <label for="">
  Picture name
  <input type="text" name="picname">
  </label>

  <button>Create a new post</button>

</form>